<div class="container">
    @{
        ViewBag.Title = "Index";
    }

    <h2>Index</h2>

    <div id="test"></div>
    <div id="Warning">
        <strong><div id="WarningLabel" class="bg-primary"></div></strong>
        <button id="GenerateButton" class="btn btn-lg btn-success">Generate</button>
    </div>
    <h2>Meta Analysis Data</h2>

    <div id="dialog"></div>
    <div id="metaContent"></div>

    <div id="metaTableContainer"></div>

    <table id="metaTest"></table>
</div>