<div class="container">

    <ul class='custom-menu'>
        <li class="noBullet" data-action="hide">Hide this column</li>
        <li class="noBullet" data-action="control">Select column as a control for data generation</li>
        <li class="noBullet" data-action="exposed">Select column as exposed for data generation</li>
        <li class="noBullet" data-action="unhide">Unhide all columns</li>
        <li class="noBullet" data-action="columndef">Change column definition</li>
    </ul>
    <div id="test"></div>

    <h1>Meta Analysis Data</h1>
    <div id="Warning">
        <strong><div id="WarningLabel" class="bg-primary"></div></strong>
        <button id="GenerateButton" class="btn btn-lg btn-success">Generate</button>
    </div>

    <div id="dialog"></div>
    <div id="metaContent"></div>

    <div id="metaTableContainer"></div>

    <table id="metaTest"></table>
    
</div>
<script type="text/javascript" src="@Url.Content("/Scripts/metascripts.js")"></script>