@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>ID passed to C# is <span id="idValue"></span></p>

<div id="test"></div>
<div id="Warning">
    <div id="WarningLabel"></div>
    <button id="GenerateButton">Generate</button>
    </div>
<div id="metaContent"></div>

<div id="metaTableContainer"></div>

<table id="metaTest"></table>